@import url('../../style/variable.css');

.label-selected {
  background-color: var(--color-primary-700);
  font-size: calc(var(--base-unit) * 3);
  font-weight: bold;
  color: var(--color-white);
  border-radius: 2.5rem;
  top: calc(var(--base-unit) * 2);
  right: calc(var(--base-unit) * 2);
}

.subtitle {
  font-size: calc(var(--base-unit) * 4);
  color: var(--color-gray-800);
}